@*Strong Typed*@
@using Application.ViewModels;
@model Application.ViewModels.SavePokemonViewModel
@{
    ViewData["Title"] = "Start";
}

<section>

    <h1 class="text-4xl text-center font-bold my-5">Pokedex</h1>

    <div class="flex flex-row justify-evenly items-center">

        <!-- Created Pokemons -->
        <section class="w-[30rem] h-[34.75rem] rounded shadow bg-white  flex flex-col justify-start overflow-hidden">
            <div class="bg-red-400 text-center py-3 text-2xl text-white w-full">
                <h1>Add new Pokemon</h1>
            </div>
            <form method="post" asp-controller="Pokemon" asp-action="Create">
                <div class="flex flex-col w-[25rem] mx-auto my-2">
                    <label asp-for="Name" class="text-lg my-1">Pokemon Name <span asp-validation-for="Name" class="text-red-400 text-sm"></span></label>
                    <input asp-for="Name" type="text" class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none" /> 
                </div>

                <div class="flex flex-col w-[25rem] mx-auto my-2">
                    <label asp-for="ImageUrl" class="text-lg my-1">Pokemon Image Url<span asp-validation-for="ImageUrl" class="text-red-400 text-sm"></span></label>
                    <input asp-for="ImageUrl" type="text" class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none" />
                </div>

                <div class="flex flex-col w-[25rem] mx-auto my-2">
                    <label asp-for="Type1" class="text-lg my-1">Pokemon Type 1 <span asp-validation-for="Type1" class="text-red-400 text-sm"></span></label>
                    <select asp-for="Type1" class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none">
                        <option value="0">Select 1</option>
                        @foreach (PokemonTypeViewModel type1 in ViewBag?.Types)
                        {
                            <option value="@type1.Id" >@type1.Name</option>
                        }
                    </select>
                </div>

                <div class="flex flex-col w-[25rem] mx-auto my-2">
                    <label asp-for="Type2" class="text-lg my-1">Pokemon Type 2</label>
                    <select asp-for="Type2" class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none">
                        <option value="0">Select 1</option>
                        @foreach (PokemonTypeViewModel type2 in ViewBag?.Types)
                        {
                            <option value="@type2.Id">@type2.Name</option>
                        }
                    </select>
                </div>

                <div class="flex flex-col w-[25rem] mx-auto my-2">
                    <label asp-for="Region" class="text-lg my-1">Pokemon Region <span asp-validation-for="Region" class="text-red-400 text-sm"></span></label>
                    <select asp-for="Region" class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none">
                        <option value="0">Select 1</option>
                        @foreach (RegionViewModel regions in ViewBag?.Regions)
                        {
                            <option value="@regions.Id">@regions.Name</option>
                        }
                    </select>
                </div>

                <div class="flex flex-row justify-evenly items-center w-[25rem] mx-auto mt-6">
                    <button class="w-[10rem] p-2 rounded border-2 border-red-300 text-red-400 hover:bg-red-300 hover:text-white transition duration-300">
                        Save
                    </button>
                    <a asp-controller="Pokemon" asp-action="Index" class="w-[10rem] text-center p-2 rounded border-2 border-red-300 bg-red-300 text-white hover:bg-red-200 hover:border-red-200 transition duration-300">
                        Go back
                    </a>
                </div>
            </form>
        </section>
    </div>

</section>