@*Strong Typed*@
@using Application.ViewModels;
@model List<Application.ViewModels.PokemonViewModel>
@{
    ViewData["Title"] = "Start";
}

<section>

    <h1 class="text-4xl text-center font-bold my-5">Pokedex</h1>

    <div class="w-full flex flex-row justify-evenly items-center">
        <!-- Filter -->
        <section class="w-[20rem] bg-white rounded p-2 flex flex-col justify-start items-center border-b-4 border-red-500">
                   <div>
                    <form class="flex flex-col justify-center item-center" method="post" asp-action="Index" asp-controller="Home" class="flex flex-col justify-center items-center">
                        <div class="flex flex-col gap-2 mb-2 w-[15rem] text-center">
                            <label for="name-filter" class="text-lg my-1">Search for a Pokemon By Name</label>
                            <input class="rounded p-[.438rem] shadow border-b-2 border-red-400 outline-none" name="Name" type="text" id="name-filter" />
                        </div>
                   
                        <div class="flex flex-col gap-2 mb-2 w-[15rem]">
                            <h3 class="text-lg mb-1 text-center">Filter for Regions</h3>
                            <section class="border-b-2 border-red-500/40 py-1 rounded ">
                                <input type="radio" value="null" name="CategoryId" id="category-all" />
                                <label for="category-all">
                                   All
                                </label>
                            </section>

                            @foreach (RegionViewModel region in ViewBag.Regions)
                            {
                                 <section class="border-b-2 border-red-500/40 py-1 rounded">
                                    <input type="radio" value="@region.Id" name="CategoryId" id="category-@region.Id" />
                                    <label for="category-@region.Id">
                                       @region.Name
                                    </label>
                                </section>
                            }
                        </div>
                        <button type="submit" class=" w-[10rem] p-2 rounded border-2 border-red-300 text-red-400 hover:bg-red-300 hover:text-white transition duration-300">
                            Filter
                        </button>
                    </form>
                </div>
        </section>

        <!-- Created Pokemons -->
        <section class="w-[40rem] h-[31.75rem] rounded shadow bg-white  flex flex-col justify-start">
            <div class="bg-red-400 text-center py-3 text-2xl text-white w-full">
                <h1>Tus Pokemones</h1>
            </div>
             <div class="w-full overflow-y-scroll">

                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="bg-white text-center py-2 w-full flex flex-row justify-between px-2 items-center border-b-2 border-red-500/20">
                            <div class='border-2 border-red-500 rounded-full w-16 h-16 overflow-hidden'>
                                <img src="@item.ImageUrl" class="w-full h-full" />
                            </div>
                            <div class="">
                                <h1 class="text-xl">@item.Name</h1>
                                <p>@item.Region Region</p>
                            </div>
                            <div class="">
                                <span class="p-2 bg-red-400 text-white rounded">@item.Type1</span>
                                @if (item.Type2 != null && item?.Type2?.Trim() != "")
                                {
                                    <span class="p-2 bg-red-400 text-white rounded">@item.Type2</span>
                                }
                            </div>
                        
                        </div>
                    }
                }
                else
                {
                    <div class="text-center py-2 text-2xl text-white">
                        <h1>Clay</h1>
                    </div>
                }
             </div>
        </section>
    </div>

</section>
